.new-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login {
    background-color: rgb(27, 24, 24);
    color: white;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 5px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    box-shadow: violet 0px 0.0625em 0.0625em, violet 0px 0.125em 0.5em, violet 0px 0px 0px 1px inset;
}
form input {
    width: 100%;
    padding: 5px;
    margin-bottom: -5px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-button {
    border-radius: 5px;
    padding: 6.5px 20px 6.5px 20px;
    margin: 15px;
    background-color: rgb(157, 72, 232);
}
.link-1 {
    font-size: 0.92em;
    padding-left: 8em;
    display: flex;
    gap: 5px;
    color: white;
    text-decoration: none;
}
.signup {
    color: rgb(52, 211, 52);
    text-decoration: underline;
}
.login-title {
    color: rgb(200, 145, 248);
}