.title-name {
  font-size: 24px;
  font-weight: 600;
  padding: 0 15px;
  margin-right: auto;
  background: linear-gradient(90deg, #9c5cf5, #64ea81, #d56cc4);
  background-size: 200% 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: wave 3s linear infinite, gradientShift 6s ease infinite;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes gradientShift {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}



.header {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ff9800;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .title-name {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .link {
    padding: 8px 12px;
    font-size: 14px;
  }
}